html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  position: absolute;
  top: 50px;
  left: 50px;
}

.content {
  display: flex;
  height: 100vh;
}

.menu {
  flex-basis: 25vw;
  padding-top: 20vh;
}

.menu ul {
  padding: 0 0 0 50px;
  margin: 0;
}

.menu ul li {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

.demo {
  flex-basis: 75vw;
  max-width: 75vw;
}
